:root{
    --primary:rgb(200, 182, 248);
    --accent:#96d2df;
    --text:#333;
    --green:#8aeba1;
}
body{
    color:var(--text);
    background-color:#bbcaa9;
    display:flex;
    flex-direction:column;
    margin:0;
    padding:20px;
}
header{
    border-bottom:2px solid black;
    margin-bottom:25px;
    padding-bottom:20px;
}
footer{
    border-bottom:2px solid black;
    margin-bottom:25px;
    padding-bottom:20px;
}
article{
    width:100%;
    border-top:8px solid var(--accent);
    box-shadow:0 4px 15 px rgba(0,0,0,0.1);
    border-radius:4px; 

}
/* media queries*/
@media (max-width:768px){
    #experties ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 0;
        list-style: none;

    }
}
@media (max-width:480px){
    #experties ul{
        grid-template-columns: 1fr 1fr;
    }
    article{box-shadow: none; border: 1px solid #dea;}
}

body.dark-mode {
    background-color:#873535;
    color:#f0f0f0;
}

body.dark-mode article {
    background-color:#deacac;
    color:white;
}
